<%- model_class = Fortune -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                 :default => "New aircraft") %></h1>
</div>

<%= render :partial => 'form' %>
